<div class="row">
  <div class="col-xs-12 text-center">
    <h3>AUTHORS <a href="/authors/new" class="btn btn-primary" role="button">New</a></h3>
</div>
<br>

<div class="row">
  <div class="col-xs-2 text-left">
    <div>
      <a href="/books" class="btn btn-primary" role="button">BOOKS</a>
    </div>
    <br>
    <div>
      <a href="/authors" class="btn btn-success" role="button">AUTHORS</a>
    </div>
    <br>
    [ADD SEARCH/FILTER HERE]
  </div>
  <div class="col-xs-8 text-left">
{{#each authors}}
  <div class="row">
    <div class="col-xs-3 text-left"><br>
      <img src="{{imageUrl}}" class="img-responsive">
    </div>
    <div class="col-xs-6 text-left">
      <div class="h3"><a href="/authors/{{id}}">{{firstName}} {{lastName}}</a></div>
      <p>{{biography}}</p>
      <div class="h5"><b>Books:</b></div>
      <ol>
      {{#each books}}
        <li><a href="/books/{{id}}">{{title}}</a></li>
      {{/each}}
      </ol>
      <div><a href="/authors/edit/{{id}}" class="btn btn-primary" role="button">Edit</a>
        <a href="" id="delete_{{id}}" class="btn btn-danger delete" role="button">Delete</a>
      </div>
    </div>
  </div>
  <br>
{{/each}}
</div>
