<br>

<div class="row">
  <div class="col-xs-2 text-left">[ADD SEARCH/FILTER HERE]</div>
  <div class="col-xs-8 text-left">
{{#each books}}
  <div class="row">
    <div class="col-xs-3 text-left"><img src="{{imageUrl}}" class="img-responsive"></div>
    <div class="col-xs-6 text-left">
      <div class="h3"><a href="/books/{{id}}">{{title}}</a></div>
      <div class="h4">{{genre}}</div>
      <p>{{description}}</p>
      <div class="h5">Authors:</div>
      <ol>
      {{#each authors}}
        <li><a href="/authors/{{id}}">{{firstName}} {{lastName}}</a></li>
      {{/each}}
      </ol>
    </div>
  </div>
  <br>
{{/each}}
</div>
