<div class="row">
  <div class="col-xs-12 text-center">
    <h3>BOOKS <a href="/books/new" class="btn btn-primary" role="button">New</a></h3>
  </div>
</div>
<br>

<div class="row">
  <div class="col-xs-2 text-left">
    <div>
      <a href="/books" class="btn btn-primary" role="button">BOOKS</a>
    </div>
    <br>
    <div>
      <a href="/authors" class="btn btn-success" role="button">AUTHORS</a>
    </div>
    <br>
    [ADD SEARCH/FILTER HERE]
  </div>
  <div class="col-xs-8 text-left">
{{#each books}}
  <div class="row">
    <div class="col-xs-3 text-left"><img src="{{imageUrl}}" class="img-responsive"></div>
    <div class="col-xs-6 text-left">
      <div class="h3"><a href="/books/{{id}}">{{title}}</a></div>
      <div class="h4">{{genre}}</div>
      <p>{{description}}</p>
      <div class="h5"><b>Authors:</b></div>
      <ol>
      {{#each authors}}
        <li><a href="/authors/{{id}}">{{firstName}} {{lastName}}</a></li>
      {{/each}}
      </ol>
      <div><a href="/books/edit/{{id}}" class="btn btn-primary" role="button">Edit</a>
        <a href="/books/delete/{{id}}" class="btn btn-danger" role="button">Delete</a>
      </div>
    </div>
  </div>
  <br>
{{/each}}
</div>
